 .customer-service {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-service:before {
  content: "";
  height: 1px;
  background-color: #d8d8d8;
  flex: 1 1;
}

.customer-service:after {
  content: "";
  height: 1px;
  background-color: #d8d8d8;
  flex: 1 1;
}

.customer-service-title {
  color: #6e7787;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.customer-service-phone-number {
  color: #273142;
  font-size: 24px;
  font-weight: 500;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12vh;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}